#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This requires that the version be in a specific format.
GIT_rev          = $(shell echo '$(DEB_VERSION_UPSTREAM)' | sed 's/.*+//')

# Strong needs at least gcc 4.9
export DEB_BUILD_MAINT_OPTIONS=hardening=-stackprotectorstrong

# --remote doesn't work with github so this needs to be run from a local checkout
get-packaged-orig-source:
	rm -rf $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)
	rm -f $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM).orig.tar.gz
	git clone https://github.com/libhybris/libhybris.git $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)
	cd $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM) && git archive \
		--format tar \
		--prefix $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)/ \
		$(GIT_rev) \
		| gzip >../$(DEB_SOURCE)_$(DEB_VERSION_UPSTREAM).orig.tar.gz
	rm -rf $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)

ANDROID_HEADERS_PATH = /usr/include/android-28
DEFAULT_CONFIGURATION = \
	--enable-wayland \
	--enable-glvnd \
	--with-android-headers=$(ANDROID_HEADERS_PATH) \
	--enable-property-cache
ARCH_CONFIGURATION =

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), armhf))
ARCH_CONFIGURATION = \
	--enable-arch=arm \
	--enable-mali-quirks \
	--enable-experimental
# We enable the linker selection overrides here as we want to stay
# with the jb linker on a range of selected production devices to
# not cause any extra risk for regressions on them. They will
# migrate to a newer linker version when ported to arm64.
ARCH_CONFIGURATION += \
	--enable-ubuntu-linker-overrides
endif
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), arm64))
ARCH_CONFIGURATION = \
	--enable-arch=arm64 \
	--enable-mali-quirks \
	--enable-experimental
endif
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), i386))
ARCH_CONFIGURATION = \
	--enable-arch=x86
endif
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), amd64))
ARCH_CONFIGURATION = \
	--enable-arch=x86
endif

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=hybris -- \
		$(DEFAULT_CONFIGURATION) \
		$(ARCH_CONFIGURATION)

override_dh_autoreconf:
	NOCONFIGURE=1 dh_autoreconf ./autogen.sh

%:
	dh $@ --sourcedirectory=hybris
